@charset "UTF-8";

body{
    background-color: rgb(250, 196, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{color: #BA598B;
  
}

h1#principal{
    background-color: white;
    text-align: center;
    color:#7A3B5C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
}
h2{color: #E06CA8;

}
.basico{
color: #fa0282;
}
.intermediario{
    color: #5a0230;

}
.avançado{
    color: #1d010f;

}
.destaque{
    background-color: #8b0249;
}